/* Top Navbar */
.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }
  
  .top-nav .logo {
    font-size: 1.8rem;
    color: #ff671f;
    font-weight: bold;
  }
  
  .top-nav .menu a {
    color: white;
    margin-left: 30px;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .top-nav .menu a:hover {
    text-decoration: underline;
  }
  
  /* Bottom Navbar */
  .bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 15px 0;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 1rem;
    color: white;
  }
  
  .bottom-nav a {
    color: white;
    text-decoration: none;
  }
  
.bottom-nav a:hover
 {
    text-decoration:underline;
 }
