<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Create Task</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/css/toDoMain.css" />
  <link rel="stylesheet" href="/css/toDoNavbar.css" />
</head>

<body>
  <div class="top-nav">
    <div class="logo">Pomozone</div>
    <div class="menu">
      <a href="/spaces">Home</a>
      <a href="/feedback/<%=userId%>">Feedback</a>
      <a href="#">Help</a>
    </div>
  </div>

  <h1>Note your tasks for the day!!!</h1>

  <form action=<%if(!editing){%>"/tasks"<%}else{%>"/edit-task"<%}%> method="POST">
    <%if(editing){%>
    <input type="text" name="title" placeholder="<%=task.title%>" required />
    <%}else{%>
    <input type="text" name="title" placeholder="Enter your task" required />
    <%}%>

    <input type="hidden" name="userId" value="<%= userId %>">
    <% if(editing){%>
    <input type="hidden" name="taskId" value="<%= taskId%>">
    <%}%>

    <%if(editing){%>
    <button type="submit">Edit</button>
    <%}else{%>
    <button type="submit">Enter</button>
    <%}%>
  </form>

  <div class="bottom-nav">
        <a href="/dashboard">BACK TO YOUR SPACE</a>
  </div>
</body>
</html>