<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pomozone</title>
  <link rel="stylesheet" href="css/dashboardPage.css">
  <link rel="stylesheet" href="css/pomodoro.css">

</head>
<body>

    
  <!-- YouTube Video Background -->
  <div class="video-background">
    <iframe 
      src="https://www.youtube.com/embed/0L38Z9hIi5s?autoplay=1&mute=1&controls=0&loop=1&playlist=0L38Z9hIi5s&modestbranding=1&showinfo=0&rel=0" 
      frameborder="0" 
      allow="autoplay; fullscreen" 
      allowfullscreen>
    </iframe>
  </div>
  

  

  <!-- Overlay -->
  <div class="overlay"></div>

  <!-- Content -->
  <div class="content">
    <header>
      <h1 class="logo">Pomozone</h1>
      <nav class="nav-top">
        <a href="/spaces">Home</a>
        <a href="#">Feedback</a>
        <a href="#">Help</a>
      </nav>
    </header>
<!-- ===Motivation=== -->
  <div class="motivation_box hide">
    <p id="quote-box">"Don’t watch the clock; do what it does. Keep going.” — Sam Levenson",
    </p>
    <button id="quote_btn">New Quote</button>
  </div>

  <!-- ===Timer=== -->
<section class="timer-app hide">
 <div class="timer-box ">
    <div class="header">
      <span>Personal</span>
      <div class="dots">
        <span>.</span><span>.</span><span>.</span><span>.</span>
      </div>
    </div>
    <div class="timer-display">
      <h1 id="time">30:00</h1>
      <button id="startStop">Start</button>
      <button id="reset" title="Reset">&#8635;</button>
    </div>
    <div class="modes">
      <button class="mode active" data-mode="pomodoro">Pomodoro</button>
      <button class="mode" data-mode="short">Short Break</button>
      <button class="mode" data-mode="long">Long Break</button>
    </div>
  </div>
</section>

    <footer>
      <nav class="nav-bottom">
        <a href="#" id="timer_tag">Pomodoro</a>
        <a href="/tasklist/<%=user._id%>">To-Do list</a>
        <a href="#">Progress-bar</a>
        <a href="#" id="motivation_tag">Motivation!!</a>
        <a href="#">Music</a>
      </nav>
    </footer>
  </div>
  <script src="/frontend/dashboard.js"></script>
   <script src="/frontend/pomodoro.js"></script>

</body>
</html>